.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #282c34;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Cormorant Garamond", serif;
}

li {
  list-style-type: none;
  font-family: "Martel", serif;
}

.today {
  grid-area: 2 / 2 / 4 / 3;
  border: 2px solid black;
  background-size: cover;
  color: #f4faf3;
  padding: 70px 0;
}
.tom {
  grid-area: 2 / 3 / 3 / 4;
  border: 2px solid black;
  background-size: cover;
  color: #f4faf3;
}
.DaT {
  grid-area: 3 / 3 / 4 / 4;
  border: 2px solid black;
  background-size: cover;
  color: #f4faf3;
}
.week {
  grid-area: 2 / 4 / 6 / 5;
  border: 2px solid black;
  background-image: url("./images/weekly.jpg");
  background-size: cover;
  color: #f4faf3;
  align-items: center;
}
.share {
  grid-area: 4 / 2 / 6 / 4;
  border: 2px solid black;
  background-image: url("./images/Clear.jpg");
  background-size: cover;
  color: #f4faf3;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 699px) {
  .App {
    display: block;
  }

  .week {
    background-position: center;
  }
  .share {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1320px) {
  .App {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
  }

  .today{
    grid-area: 2 / 1 / 4 / 2;
  }
  
  .tom {
    grid-area: 2 / 2 / 3 / 3; 
  }

  .DaT{
    grid-area: 3 / 2 / 4 / 3;
  }

  .week {
    grid-area: 2 / 3 / 6 / 4;
    background-position: center;
  }
  .share {
    grid-area: 4 / 1 / 6 / 3;
  }
}